<%- include('../layout/header') -%>

<p class="hello">Cảm ơn quý khách <%= order?.fullName %> đã đặt hàng tại Kummo Chan,</p>

<p>
  Kummo Chan rất vui thông báo đơn hàng <strong>#<%= order?._id %></strong> của quý khách đã được tiếp nhận và đang trong quá trình xử lý.
</p>

<p>
  Kummo Chan sẽ sớm liên hệ quý khách để xác minh đơn hàng. Nếu chúng tôi không liên hệ được với quý khách, được hàng sẽ được hủy, rất xin lỗi vì sự cố hủy đơn nếu quý khách gặp phải.
</p>

<p>
  Đồng thời Kummo Chan cũng sẽ thông báo đến quý khách ngay khi hàng chuẩn bị được giao.
</p>

<%- include('order') -%>

<%- include('../layout/footer', { support: true }) -%>
