<%- include('../layout/header') -%>

<p class="hello">Đơn hàng của quý khách <%= order?.fullName %> đã được xác nhận,</p>

<p>
  Kummo Chan đang chuẩn bị sản phẩm (<strong>#<%= order?._id %></strong>) để giao cho quý khách.
  Kummo Chan sẽ cố gắng giao hàng cho quý khách trong thời gian sớm nhất.
</p>

<%- include('order') -%>

<%- include('../layout/footer', { support: true }) -%>
