<%- include('../layout/header') -%>

<p class="hello">Đơn hàng của quý khách <%= order?.fullName %> bị từ chối,</p>

<p>
  Kummo Chan rất tiếc khi thông báo đơn hàng <strong>#<%= order?._id %></strong> của quý khách bị từ chối do <strong style="border-bottom: 2px dotted #bfbfbf;"><%= order?.reasonsForRejection %></strong>.
</p>

<%- include('order') -%>

<%- include('../layout/footer', { support: true }) -%>
