<%- include('../layout/header') -%>

<p class="hello">Chào quý khách <%= review?.fullName %>,</p>

<p>
  Nhận xét sản phẩm <a href="#" target="_blank" style="color: #841206"><strong><%= review?.productName %></strong></a> của bạn đã được đăng trên website <a href="https://daminest.penphy.com" style="color: #000;"><strong>daminest.penphy.com</strong></a>!
</p>

<p>Bạn có thể xem lại nhận xét của mình <a href="<%= getWebCustomerUrl(`/products/${review?.productId}`) %>?review=true" target="_blank" style="color: #841206"><strong>tại đây</strong></a>.</p>

<p>
  Một lần nữa Yến Sào DamiNest xin cảm ơn bạn đã dành thời gian đánh giá chất lượng sản phẩm.
  Nhận xét của bạn sẽ giúp nhiều khách hàng khác quyết định dễ dàng hơn khi chọn mua sản phẩm.
</p>

<p style="margin-bottom: 0px;">Trân trọng,</p>

<%- include('../layout/footer', { support: false, thankYou: 'Bộ phận kiểm duyệt.' }) -%>
