<!doctype html>
<html lang="vi">

<head>
  <%- include(layouts + '/head'); %>

  <link rel="stylesheet" href="/css/auth/index.css">
</head>

<body id="login-page">
  <%- include(layouts + '/header'); %>

  <main>
    <div class="container">
      <div class="clearfix-32"></div>

      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <% if (success) { %>
            <div class="alert alert-success" role="alert">
              Xác minh Email <a href="mailto:<%= email %>" class="alert-link"><%= email %></a> thành công!
            </div>
          <% } else { %>
            <div class="alert alert-danger" role="alert">
              <%= errorMessage %>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </main>

  <%- include(layouts + '/foot'); %>
</body>

</html>
