<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../_partials/header') %>
    <title>Reviews</title>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('../_partials/sidebar'); %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../_partials/topbar'); %>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Đánh giá</h1>
            <p class="mb-4">Các đánh giá yến sào .</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <div class="row justify-content-between">
                  <div class="col-auto mr-auto">
                    <h6 class="m-2 font-weight-bold text-primary">
                      Các đánh giá
                    </h6>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-breviewed"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Sản phẩm</th>
                        <th>Sao</th>
                        <th>Đánh giá</th>
                        <th>Đăng đánh giá</th>
                        <th>Duyệt đánh giá</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Sản phẩm</th>
                        <th>Sao</th>
                        <th>Đánh giá</th>
                        <th>Đăng đánh giá</th>
                        <th>Duyệt đánh giá</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <% if(reviews.length> 0) { %> <% for(let review of
                      reviews) { %>
                      <tr>
                        <th scope="row"><%= review.productId.name %></th>
                        <td><%= review.rating %></td>
                        <td><%= review.content %></td>
                        <td>
                          <% if (!review.published) {%> Chưa đăng <% } else { %>
                          Đã đăng <% } %>
                        </td>
                        <td>
                          <% if (!review.published) {%>
                          <a
                            href="/review/publish-review/<%= review._id %>"
                            class="edit"
                            title="Đăng review"
                            data-toggle="tooltip"
                            ><i class="fas fa-times">&#xE254;</i></a
                          >
                          <% } else { %>
                          <a
                            href="/review/unpublish-review/<%= review._id %>"
                            class="edit"
                            title="Huỷ đăng review"
                            data-toggle="tooltip"
                            ><i class="fas fa-check">&#xE254;</i></a
                          >
                          <% } %>
                        </td>
                      </tr>
                      <% } %> <% } else { %>
                      <tr>
                        <td>No data found</td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <%- include('../_partials/footer') %>
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <%- include('../_partials/scripts')%>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
  </body>
</html>
