<%
  const getPageUrl = (page) => {
    return queryString.stringifyUrl({
      url: url,
      query: {
        page
      }
    })
  }
%>

<% if (pages > 1) { %>
  <nav>
    <ul class="pagination justify-content-center mb-0">
      <!-- First Page -->
      <% if (current == 1) { %>
        <li class="page-item disabled">
          <span class="page-link">Trang đầu</span>
        </li>
      <% } else { %>
        <li class="page-item">
          <a class="page-link" href="<%= getPageUrl(1) %>" aria-label="First">Trang đầu</a>
        </li>
      <% } %>

      <!-- Previous Page -->
      <% if (current == 1) { %>
        <li class="page-item disabled">
          <span class="page-link">
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
      <% } else { %>
        <li class="page-item">
          <a class="page-link" href="<%= getPageUrl(current - 1) %>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      <% } %>

      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>

      <% if (i !== 1) { %>
        <li class="page-item disabled">
          <span class="page-link">...</span>
        </li>
      <% } %>

      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
          <li class="page-item active" aria-current="page">
            <span class="page-link"><%= i %></span>
          </li>
        <% } else { %>
          <li class="page-item"><a class="page-link" href="<%= getPageUrl(i) %>"><%= i %></a></li>
        <% } %>

        <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
        <% } %>
      <% } %>

      <!-- Next Page -->
      <% if (current == pages) { %>
        <li class="page-item disabled">
          <span class="page-link">
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
      <% } else { %>
        <li class="page-item">
          <a class="page-link" href="<%= getPageUrl(current + 1) %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      <% } %>

      <!-- Last Page -->
      <% if (current == pages) { %>
        <li class="page-item disabled">
          <span class="page-link">Trang cuối</span>
        </li>
      <% } else { %>
        <li class="page-item">
          <a class="page-link" href="<%= getPageUrl(pages) %>" aria-label="Last">Trang cuối</a>
        </li>
      <% } %>
    </ul>
  </nav>
<% } %>
